doctype html
html
 head
 body
  h1= 'New Message'
  form(action='/new', method='POST')
   | author: 
   input(type='text', name='author', value='')
   | message: 
   input(type='text', name='message', value='')
   input(type='submit', value='Submit')